.topbar {
  background-color: #6E8CFB;
  color: white;
}

.topbar-container {
  display: flex;
  align-items: center;
  padding: 12px 20px;
}

.topbar__left {
  flex: 4;
  font-size: 24px;
  font-weight: 500;
}

.topbar__center {
  background-color: #fff;
  border-radius: var(--border-radius-xl);
  height: 40px;
  flex: 5;
  display: flex;
  align-items: center;
}

.topbar__right {
  flex: 5;
  display: flex;
}

.topbar__search-icon {
  color: black;
  padding: 0 4px;
}

.topbar__center input {
  border: none;
  flex: 1;
  margin-right: 4px;
}

.topbar__center input:focus {
  border: none;
  outline: none;
}

.topbar__toggle-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 40px;
}

.topbar__category-toggle {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-s);
  background-color: #ffffff;
}

.topbar__category-option {
  width: 100px;
  height: 100%;
  line-height: 1.8rem;
  font-weight: 500;
  width: 90px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-s);
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.topbar__category-focused {
  background-color: #636CCB;
  color: white;
}

.topbar__menu-icons {
  display: flex;
  width: 80px;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

.topbar__menu-icon {
  cursor: pointer;
}