.topbar {
  background-color: #6E8CFB;
  color: white;
}

.topbar-container {
  display: flex;
  align-items: center;
  padding: 12px 20px;
}

.topbar__left {
  flex: 4;
  font-size: 24px;
  font-weight: 500;
}

.topbar__center {
  background-color: #fff;
  border-radius: var(--border-radius-xl);
  height: 40px;
  margin-right: 10px;
  flex: 5;
  display: flex;
  align-items: center;
}

.topbar__right {
  flex: 5;
  display: flex;
}

.topbar__search-icon {
  color: black;
  padding: 0 6px;
}

.topbar__center input {
  border: none;
  flex: 1;
  margin-right: 4px;
}

.topbar__center input:focus {
  border: none;
  outline: none;
}

.topbar__toggle-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 40px;
}

.topbar__category-toggle {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-s);
  background-color: #ffffff;
}

.topbar__category-option {
  background-color: #ffffff;
  padding: 0;
  width: 115px;
}

.topbar__category-focused {
  background-color: #636CCB;
  color: white;
}

.topbar__category-focused:hover {
  background-color: #50589C;
}

.topbar__category-unfocused:hover {
  background-color: #e4e4e4;
}

.topbar__category-unfocused:hover .topbar__category-toggle {
  background-color: #e4e4e4;
}

.topbar__menu-icons {
  display: flex;
  width: 80px;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

.topbar__menu-icon {
  cursor: pointer;
}