.sidebar {
  flex: 6;
  height: calc(100vh - 64px); 
  overflow: scroll;
  padding: 20px;
}

.sidebar__category {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebar__categories li:last-child {
  margin-bottom: 0;
}

.sidebar__show-more-btn {
  margin: 20px 0;
  width: 100%;
  background-color: #636CCB;
  color: white;  
}

.sidebar__show-more-btn:hover {
  background-color: #50589C;
}

.sidebar__following-list img {
  width: var(--avatar-size-s);
  height: var(--avatar-size-s);
}

.sidebar__following-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  cursor: pointer;
}

