.post {
  width: 100%;
  border-radius: var(--border-radius-l);
  margin-top: 15px;
}

.post__wrapper {
  padding: 15px;
}

.post__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__top-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.post__author-info {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.post__profile-image {
  width: var(--avatar-size-l);
  height: var(--avatar-size-l);

}

.post__username {
  line-height: 1rem;
}

.post__timestamp-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
}

.post__timestamp {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: rgb(128, 128, 128)
}

.post__bullet-point {
  width: 4px !important;
  height: 4px !important;
  color: rgb(128, 128, 128);
}

.post__top-right {
  cursor: pointer;
}

.post__content {
  padding-bottom: 5px;
}

.post__center img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  object-position: center;
}

.post__bottom {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.post__bottom-left {
  display: flex;
  gap: 4px;
}

.post__bottom-left svg {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.post__comments-counter {
  cursor: pointer;
}

.post__comments-counter:hover {
  border-bottom: 1px dashed gray;
}
