body {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
  border: none;

  padding: 0 15px;
  line-height: 1.8rem;
  font-weight: 500;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

a:hover,
a:focus,
a:active,
a:visited {
  color: inherit;    
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

input {
  font: inherit;
  outline: none;
}

textarea {
  margin: 0;
  padding: 8px 10px;
  border: none;
  outline: none;
  resize: none;
  font: inherit;
  min-height: 3.25rem;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179,179,179);
}

:root {
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 12px;
  --border-radius-xl: 15px;

  --avatar-size-s: 1.8rem;
  --avatar-size-l: 3.25rem;
}

.hr-line {
  color: aliceblue;
}

.profile-image {
  object-fit: cover;
  border-radius: 50%;
}