body {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
  border: none;

  width: 110px;
  line-height: 1.8rem;
  font-weight: 500;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

a:hover,
a:focus,
a:active,
a:visited {
  color: inherit;    
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179,179,179);
}

:root {
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 12px;
  --border-radius-xl: 15px;

  --avatar-size: 1.8rem;
}

.sidebar__hr-line {
  color: aliceblue;
}