body {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

a:hover,
a:focus,
a:active,
a:visited {
  color: inherit;    
  text-decoration: none;
}


:root {
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 12px;
  --border-radius-xl: 15px;

  --icon-size: 12px;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}