.rightbar {
  flex: 7;
}

.rightbar__wrapper {
  padding: 20px 20px 0 0;
}

.birthday-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.birthday-container img {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

.birthday-text {
  font-weight: 300;
  font-size: 15px;
}

.rightbar__ad {
  width: 100%;
  border-radius: 10px;
}

.rightbar__friend {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.rightbar__friend:first-child {
  margin-top: 0;
}

.rightbar__profile-image-container {
  margin-right: 10px;
  height: 52px;
  position: relative;
}

.rightbar__profile-image-container img {
  width: var(--avatar-size-l);
  height: var(--avatar-size-l);
}

.rightbar__online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  bottom: 1px;
  right: 1px;
  border: 2px solid white;
}